/* LESS Document */
/*
style.css 에서 통합되므로
모든변수에는 스킨 접두어를 사용해야합니다.
*/


@open-iframe-color:#1EBC11;



#open-skin{
	 
	height:100%;
	width:100%;

	#skin-content #skin-section #skin-iframe
	{
		border-color:@open-iframe-color;
	}
	
}

